Author: Doug Branton?, Neven Caplar and the LINCC Frameworks team

Last updated: July 06, 2025

# Introduction to Nested-Pandas

This notebook explores the Nested-Pandas API, showing the basics of nesting data and touring the various ways of working with nested data.

In this notebook we'll show how to:
- Generate example data
- Understand nested-pandas dataframe
- Do filtering
- Run a function over nested dataframes
- Brin the result back and merge to our nested dataframe

## Exploring the NestedFrame Interface

In [2]:
import nested_pandas as npd0
# import light_curve as licu
import pandas as pd
import numpy as np

from nested_pandas.utils import count_nested

In [5]:
# Define the six fields from Data Preview 1 with RA and Dec coordinates
fields = {
    "ECDFS": (53.13, -28.10),  # Extended Chandra Deep Field South
    "EDFS": (59.10, -48.73),  # Euclid Deep Field South
    "Rubin_SV_38_7": (37.86, 6.98),  # Low Ecliptic Latitude Field
    "Rubin_SV_95_-25": (95.00, -25.00),  # Low Galactic Latitude Field
    "47_Tuc": (6.02, -72.08),  # 47 Tuc Globular Cluster
    "Fornax_dSph": (40.00, -34.45)  # Fornax Dwarf Spheroidal Galaxy
}

# Define a 2-degree (2*3600 arcseconds) search radius
radius_arcsec = 2 * 3600  # Convert 2 degree to arcseconds
# Create six cone searches
# cones = {name: ConeSearch(ra=ra, dec=dec, radius_arcsec=radius_arcsec) for name, (ra, dec) in fields.items()}

In [3]:
# Load an example dataset
from nested_pandas.datasets import generate_data
ndf = generate_data(50,100, seed=1)
ndf

           a         b                                             nested
0   0.417022  0.038734  [{t: 6.532898, flux: 77.388964, band: 'r'}; 因...
1   0.720324  1.357671  [{t: 10.541162, flux: 82.03493, band: 'r'}; 因...
..       ...       ...                                                ...
48  0.287775  0.005741  [{t: 11.19434, flux: 11.946375, band: 'r'}; 因...
49  0.130029  1.234290  [{t: 0.25112, flux: 94.006251, band: 'g'}; 因 ...

[50 rows x 3 columns]

## Hands-on Scientific Example: Variability Analysis

### Load ZTF Timeseries Data

In [ ]:
# only Load data around ra_center, dec_center = cones["Rubin_SV_95_-25"].ra, cones["Rubin_SV_95_-25"].dec

### Perform Initial Filtering

In [ ]:
# perhaps given length, brigther than 20 mag

### Calculate Periodograms for all Lightcurves

### Visualizing Results

### Using Results to Modify our NestedFrame